.navigatio_bar{
  font: uppercase 500 15px helvetica, arial, monospace;
  text-align: right;
  margin-top: -10px;
  list-style-type: none;
}
a:link{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
