html, body {
  height: 100%;
  width: 100%;
}
h1{
  text-align: center;
}
body {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(#FFC000, red);
}
input{
  color: black;
}

.header-box{
  bottom: auto;
  height: 75px;
  padding: 10px;
  font-family: Courier New, monospace;
}

.top-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  display: table;
}

.nav-link{
  display: flex;
  text-decoration: none;
  justify-content: space-around;  
  list-style: none;
  width: 500px;
  color:#000;
}

.home{
  color:#000;
  font-size: 30px;
  font-weight:700;
  text-decoration: none;
  text-align: center;
}








